<template name="about">
    <P>
        <B>Meteor Soup</B> is developed by <B>Philip Posgate</B> for the purpose of
        exploring the features of Meteor and to demonstrate the usage of some of the interesting
        3rd-party packages in the Meteor ecosystem.  The various experiments you find here are developed
        as self contained "mini-apps", covering common usecases one might see in enterprise web applications,
        such as CRUD screens, data-grids, searching, calendars, messaging, maps, etc.
    </P>
</template>